.slider-container{
    display: flex;
    background: #fff;
    padding-bottom: 8px;
    width: 300px;
}

.slider .rs-range-color  {
    background-color: #3be;
}
.slider .rs-path-color  {
    background-color: #cef;
}
.slider .rs-handle  {
    background-color: #cef;
    padding: 3px;
    border: 2px solid #cef;
}
.slider .rs-handle.rs-focus  {
    border-color: #3be;
}
.slider .rs-handle:after  {
    border-color: #3be;
    background-color: #3be;
}
.slider .rs-border  {
    border-color: transparent;
}
.rs-tooltip-text{
   margin-top: -10px!important;
   margin-left: -15px!important;
   width: 30px;
   text-align: center;
   user-select: none;
   -moz-user-select: none;
}


body{
    background: #fca !important;
    color: #58b!important;
}

#piano {
    height: 150px;
    width: 90%;
    margin: 10px;
    position: absolute;
    max-width: 600px;
}
#pianoroll{
    width:90%;
    height :100px;
    margin: 10px;
    background: #ddf
}

.piano-key {
    background: #fff;
    color: #3be;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: calc(100% / 14);
    margin: 1px;
    border-radius: 2px;
    transition: all 0.5s ease;
}
.sharp {
    background: #3be;
    opacity: 0.9;
    color: #fff;
    height: 70%;
    margin-left: calc(-50% / 20);
    position: absolute;
}
.piano-press{
    border-radius: 4px;
    transition: all 0.05s ease;
   border-color: #88f;
}
.piano-press:not(.sharp){
    background: #cef
}
.piano-press.sharp{
    background:#58b;
}
