body{
    background: #fff;
}

#piano {
    height: 25%;
    width: 100%;
    position: absolute;
}
.piano-key {
    background-color:#fff;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: calc(100% / 20 + 1px);
    margin: 1px;
    border-radius: 0.5em;
    transition: all 0.1s ease;
}
.sharp {
    background-color: black;
    color: #fff;
    height: 70%;
    margin-left: calc(-50% / 20);
    position: absolute;
}

.piano-press {
    box-shadow:0px 0px 2px 2px #bbf;
    text-shadow: 0px 0px 5px 5px #bbf;
    border: 2px solid #88f;
}