* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#amplitude{
    height :72px;
    width : 100%;
    max-width: 800px;
    border:10px solid #3be;
    background: #fff;
	vertical-align: bottom;
    position: relative;
}

#fmslider-adsr{
    display: flex;
    padding: 10px;
    max-width: 800px;
    border:10px solid #3be;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background: #fff;
    align-items: center;
    justify-content: space-between;

}
.slider-container{
    display: flex;
}
.slider .rs-range-color  {
    background-color: #3be;
}
.slider .rs-path-color  {
    background-color: #cef;
}
.slider .rs-handle  {
    opacity: 0;
}
.slider .rs-handle.rs-focus  {
    border-color: #3be;
}
.slider .rs-handle:after  {
    border-color: #adf;
    background-color: #adf;
}
.slider .rs-border  {
    border-color: transparent;
}
/*.rs-overlay.rs-transition.rs-bg-color{}*/
.rs-tooltip-text.rs-tooltip{
   margin-top: -10px!important;
   margin-left: -20px!important;
   width: 40px;
   text-align: center;
   z-index: 20;
}
.slider-handle {
    background:#3be !important;
}
.slider-track-high {
	background: #adf !important;
}
.slider-selection{
	background: #cef !important;
}

body{
    background: #cef !important;
    color: #47a!important;
    margin: 10px!important;
}

#piano {
    height: 150px;
    width: auto;
    position: relative;
    max-width: 800px;
    min-width:400px;
    border:10px solid #3be;
    background: #3be;
}

.piano-key {
    background: #fff;
    color: #3be;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: calc(100% / 13);
    margin: 1px;
    border-radius: 2px;
    transition: all 0.5s ease;
}
.sharp {
    background: #3be;
    color: #fff;
    height: 70%;
    margin-left: calc(-50% / 20);
    position: absolute;
}
.piano-press{
    transition: all 0.05s ease;
    border-color: #88f;
}
.piano-press:not(.sharp){
    background: #cef
}
.piano-press.sharp{
    background:#58b;
}
