@background-color: #222;
@accent-color : hsl(208,40%,50%);
@font-color:hsl(208,15%,77%);
@border-color: @background-color + #141414;
@font-dark-color:#111;
@font-light-color:@font-color;

@slider-track-color : hsl(208,40%,40%);
@slider-background-color :@border-color;

@pianokey-color : hsl(208,5%,55%);
@pianosharpkey-color : @border-color;
@piano-press-diff: #222;
@piano-sharp-font-color:@font-light-color - #111;

@instrument-width: 512px;
@border :4px solid @border-color;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: @background-color;
    color: @font-color;
    margin: 10px;
    font-weight: normal;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    h1,h2 { margin:5px; }
}
#app,body{
    text-align: center;
}

.amplitude{
    height :72px;
    width: @instrument-width;
    border: @border;
    background: @background-color;
	vertical-align: bottom;
    position: relative;

}

.fm-sliders{
    margin: auto;
    @padding : 10px;
    display: flex;
    padding: @padding;
    width: @instrument-width ;
    border:@border;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background: @background-color;
    align-items: center;
    justify-content: space-between;
    .slider-container{
        display: flex;
    }
}

.slider {
    .rs-range-color  {
        background-color: @slider-track-color;
    }
    .rs-path-color  {
        background-color: @slider-background-color;
    }
    .rs-handle  {
        opacity: 0;
    }
    .rs-handle.rs-focus  {
        border-color: @border-color;
    }
    .rs-handle:after  {
        border-color: @slider-track-color;
        background-color: @slider-track-color;
    }
    .rs-border  {
        border-color: transparent;
    }
    .rs-tooltip-text.rs-tooltip{
        color :@font-color;
        margin-top: -10px!important;
        margin-left: -20px!important;
        width: 40px;
        text-align: center;
        z-index: 20;
    }
    .slider-handle {
        background:@border-color ;
    }
    .slider-track-high {
        background: @slider-track-color ;
    }
    .slider-selection{
        background: @slider-background-color ;
    }
    .tooltip-inner{
        background-color:@border-color ;
        color:@font-light-color;
    }
    .tooltip.right .tooltip-arrow{
        border-right-color:@border-color ;
    }
    .rs-bg-color{
        background: @background-color ;
    }
}

.piano{
    margin: auto;
    height: 150px;
    width: @instrument-width;
    position: relative;
    border:@border;
    background: @border-color;
    .piano-key {
        background: @pianokey-color;
        color: @font-dark-color;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: calc(100% / 13);
        margin: 1px;
        border-radius: 2px;
        transition: all 0.5s ease;
    }
    .sharp {
        background: @pianosharpkey-color;
        color: @piano-sharp-font-color;
        height: 70%;
        margin-left: calc(-50% / 20);
        position: absolute;
    }
    .piano-press{
        transition: all 0.05s ease;
        &.sharp{
            background:@pianosharpkey-color+ @piano-press-diff;
        }
        &:not(.sharp){
            background: @pianokey-color - @piano-press-diff;
        }
    }
}

