@base-light-color:#ffffff;
@base-border-color:#3be;
@slider-track-color :#adf ;
@body-background-color:#cef;
@font-dark-color: #47a;
@piano-press-color:#88f;
@piano-press-sharp-color:#58b;
@instrument-width: 512px;


* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
body{
    background: @body-background-color;
    color: @font-dark-color;
    margin: 10px;
}
h1,h2 {
    font-weight: bold;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#amplitude{
    height :72px;
    width: @instrument-width;
    border:10px solid @base-border-color;
    background: @base-light-color;
	vertical-align: bottom;
    position: relative;
}

#fmslider-adsr{
    @padding : 10px;
    display: flex;
    padding: @padding;
    width: @instrument-width - @padding * 2;
    border:10px solid @base-border-color;
    border-top-width: 0px;
    border-bottom-width: 0px;
    background: @base-light-color;
    align-items: center;
    justify-content: space-between;
    .slider-container{
        display: flex;
    }
}

.slider {
    .rs-range-color  {
        background-color: @base-border-color;
    }
    .rs-path-color  {
        background-color: @body-background-color;
    }
    .rs-handle  {
        opacity: 0;
    }
    .rs-handle.rs-focus  {
        border-color: @base-border-color;
    }
    .rs-handle:after  {
        border-color: @slider-track-color;
        background-color: @slider-track-color;
    }
    .rs-border  {
        border-color: transparent;
    }
    .rs-tooltip-text.rs-tooltip{
        margin-top: -10px!important;
        margin-left: -20px!important;
        width: 40px;
        text-align: center;
        z-index: 20;
    }
    .slider-handle {
        background:@base-border-color !important;
    }
    .slider-track-high {
        background: @slider-track-color !important;
    }
    .slider-selection{
        background: @body-background-color !important;
    }
    .tooltip-inner{
        background-color:@base-border-color !important;

    }
    .tooltip.right .tooltip-arrow{
        border-right-color:@base-border-color !important;
    }
}

#piano ,.piano{
    height: 150px;
    width: @instrument-width;
    position: relative;
    border:10px solid @base-border-color;
    background: @base-border-color;
    .piano-key {
        background: @base-light-color;
        color: @base-border-color;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        width: calc(100% / 13);
        margin: 1px;
        border-radius: 2px;
        transition: all 0.5s ease;
    }
    .sharp {
        background: @base-border-color;
        color: @base-light-color;
        height: 70%;
        margin-left: calc(-50% / 20);
        position: absolute;
    }
    .piano-press{
        transition: all 0.05s ease;
        border-color: @piano-press-color;
    }
    .piano-press:not(.sharp){
        background: @body-background-color
    }
    .piano-press.sharp{
        background:@piano-press-sharp-color;
    }
}

